In [2]:
import numpy as np
import pandas as pd
import matplotlib as plot
import os
os.chdir(r"C:\Users\Capta\Documents\GitHub\csgo_econ_viz")

Initial attempt at compressing the players.csv data as it's too large. The initial raw dataframe, players.csv will not be present in the repo.

Info of the initial data:

RangeIndex: 383317 entries, 0 to 383316

Columns: 101 entries, date to m3_rating_t

dtypes: float64(76), int64(16), object(9)

memory usage: 295.4+ MB

In [55]:
df = pd.read_csv("data/raw/players.csv", parse_dates=["date"])

cat_cols = ["player_name","team","country","event_name","map_1","map_2","map_3"]
for c in cat_cols:
    df[c] = df[c].astype("category")

int_cols = df.select_dtypes(include=["int64"]).columns
float_cols = df.select_dtypes(include=["float64"]).columns
df[int_cols] = df[int_cols].apply(pd.to_numeric, downcast="integer")
df[float_cols] = df[float_cols].apply(pd.to_numeric, downcast="float")

df.to_parquet("data/raw/players.parquet", index=False, compression="zstd")

In [56]:
df = pd.read_parquet("data/parquet/year=2015/stats.parquet")
df.assign(
    match_id = df['match_id'].astype('int64')
)
df.query("match_id == 2300086")

,date,player_name,team,opponent,country,player_id,match_id,event_id,event_name,best_of,...,m3_kddiff_ct,m3_adr_ct,m3_kast_ct,m3_rating_ct,m3_kills_t,m3_deaths_t,m3_kddiff_t,m3_adr_t,m3_kast_t,m3_rating_t
0,2015-12-22,FliP1,enable,ex-USSR,Denmark,9479,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-12-22,Maziaz,enable,ex-USSR,Denmark,8808,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-12-22,Pejnozord,ex-USSR,enable,Poland,9472,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-12-22,SandeN,enable,ex-USSR,Denmark,8784,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-12-22,haste,enable,ex-USSR,Denmark,3545,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-12-22,mono,ex-USSR,enable,Poland,9916,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-12-22,morelz,ex-USSR,enable,Poland,8324,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-12-22,niko,enable,ex-USSR,Denmark,10264,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-12-22,reatz,ex-USSR,enable,Poland,8242,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-12-22,sany,ex-USSR,enable,Poland,8329,2300086,2090,D!ngIT $2000 Weekly Cup #31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN